<footer class="footer">
    <a class="footer__button__arrow" href="./index.html#hero">
        <img class="footer__button__arrow-img" src="./assets/images/ico-arrow.svg" alt="Icono scroll hacia abajo">
    </a>
    
    <nav class="link-pages">
        <ul class="footer__ul">
            <li>
                <a class="footer__style footer__ul-link" href="https://adalab.es">
                    zapatillas
                </a>
            </li>
            <li>
                <a class="footer__style footer__ul-link" href="https://adalab.es">
                    ropa
                </a>
            </li>
            <li>
                <a class="footer__style footer__ul-link" href="https://adalab.es">
                    niño/a
                </a>
            </li>
            <li>
                <a class="footer__style footer__ul-link" href="https://adalab.es">
                    destacados
                </a>
            </li>
            <li>
                <a class="footer__style footer__ul-link" href="https://adalab.es">
                    tips
                </a>
            </li>
        </ul>
    </nav>
    <nav class="socials">
        <ul class="footer__ul">
            <li>
                <a class="footer__style footer__ul-link" href="https://adalab.es">
                    twitter
                </a>
            </li>
            <li>
                <a class="footer__style footer__ul-link" href="https://adalab.es">
                    instagram
                </a>
            </li>
            <li>
                <a class="footer__style footer__ul-link" href="https://adalab.es">
                    youtube
                </a>
            </li>
        </ul>
    </nav>
    <p class="footer__style copy">
        &copy; 2023
        <span class="copy__text"> 
            we 
            <i class="copy__heart">
                ❤︎
            </i>
            run
        </span>
    </p>
</footer>