<footer class="footer">
    <button class="main__button__arrow">
        <a href="">
            <img class="main__button__arrow-img" src="./assets/images/ico-arrow.svg" alt="Icono scroll hacia abajo">
        </a>
    </button>
    
    <nav>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </nav>
    <p>&copy;</p>
</footer>