<hero class="hero">
    <figure>
        <img class="hero__img" src="./assets/images/cover.jpeg" alt="Deportista atándose los cordones de las zapatillas"/>
        <figcaption class="hero__text">
            <h1 class="hero__title">Hasta un 50% de descuento</h1>
            <p class="hero__description">Ya están aquí las ofertas de fin de temporada</p>
        </figcaption>
    </figure>
    <button class="button_scroll_down">
        <a href="">
            <img class="button_scroll_down__img" src="./assets/images/ico-scroll-down.svg" alt="Icono scroll hacia abajo">
        </a></button>
</hero>