<main class="main">
    <section>
        <h4>

        </h4>
        <article>
            <h2>

            </h2>
            <p>

            </p>
        </article>
        <button>

        </button>
    </section>
    <section>
        <h3>

        </h3>
        <ul>
            <li>
                <h4>

                </h4>
                <p>

                </p>
            </li>
            <li>
                <h4>
            
                </h4>
                <p>
            
                </p>
            </li>
            <li>
                <h4>
            
                </h4>
                <p>
            
                </p>
            </li>
        </ul>
        <button>

        </button>
    </section>
    <button>
        
    </button>
</main>