<main class="main">
    <section class="main__white">
        <h4 class="title__orange">
            Los sentimientos nos inspiran
        </h4>
        <article>
            <h2 class="white__article-title">
                Conecta Contigo
            </h2>
            <p class="white__article-description">
                Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento ya a la plena consciencia que tan bien nos hacen sentir.
            </p>
        </article>
        <button class="main__white-button">
            <a  class="main__white-button-text" href="https::/adalab.es">Comprar</a>
        </button>
    </section>
    <section class="main_grey">
        <h3>

        </h3>
        <ul>
            <li>
                <h4>

                </h4>
                <p>

                </p>
            </li>
            <li>
                <h4>
            
                </h4>
                <p>
            
                </p>
            </li>
            <li>
                <h4>
            
                </h4>
                <p>
            
                </p>
            </li>
        </ul>
        <button>

        </button>
    </section>
    <button>
        
    </button>
</main>