<main class="main">
    <section class="main__white">
        <h4 class="desc title__orange">
            Los sentimientos nos inspiran
        </h4>
        <article>
            <h2 class="title white__article-title">
                Conecta Contigo
            </h2>
            <p class="desc white__article-description">
                Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de ser. Rendimos homenaje al hermoso caos del movimiento ya a la plena consciencia que tan bien nos hacen sentir.
            </p>
        </article>
        <button class="main__white-button">
            <a  class="desc main__white-button-text" href="https::/adalab.es">Comprar</a>
        </button>
    </section>
    
    <section class="main__grey">
        <h3 class="title main__grey-title">
            Año nuevo, movimientos nuevos
        </h3>
        <ul class="grey__ul">
            <li>
                <h4 class="title grey__ul__title">
                    Entrenamientos
                </h4>
                <p class="desc grey__ul__description">
                    Sesiones de running y entrenamientos
                </p>
            </li>
            <li>
                <h4 class="title grey__ul__title">
                    Cualquier nivel
                </h4>
                <p class="desc grey__ul__description">
                    Entrenamientos para cada nivel
                </p>
            </li>
            <li>
                <h4 class="title grey__ul__title">
                    Exclusividad
                </h4>
                <p class="desc grey__ul__description">
                    Productos para miembros premium
                </p>
            </li>
        </ul>
        <button class="main__grey-button">
            <a class="desc main__grey-button-text" href="https::/adalab.es">Empezar ahora</a>
        </button>
    </section>
    
</main>