// Estos son los tamaños para las media-queries
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

//colors
$white: #ffffff;
$bright-orange: #f26002;
$white-grey: #f2f2f2;
$light-grey: #979797;
$greyish-brown: #4a4a4a;
$black-20: rgba(0,0,0,0.2);
$black-50: rgba(0, 0, 0, 0.5);

//font-family
$Roboto: 'Roboto', sans-serif;
$RobotoSlab: 'Roboto Slab', serif;
