.footer {
    background-color: $greyish-brown;
    padding: 65px 115px 40px 115px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    
    &__button__arrow {
    width: 45px;
    height: 45px;
    background-color: $white;
    border-radius: 50%;
    border: none;
    padding: 13px 0;
    position: absolute;
    top: 0;
    transform: translateY(-50%);

        &-img {
            width: 21px;
        }
    }

    &__style {
        color: $white;
        font-family: $Roboto;
        font-weight: 400;
    }

    &__ul{
        text-align: center;
        padding-bottom: 30px;

        &-link{
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.6rem;
            line-height: 1.88;
        }
    }
}

.copy {
    padding: 0 12px;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2.14;

    &__heart{
    color: $bright-orange;
    }
}

@media all and (min-width: 768px) {
    .footer {
        padding: 56px 150px 34px 150px; 
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;

        &__ul{
            text-align: left;
            padding-bottom: 0px;
        }
    }

    .link-page{
        order: 2;
    }

    .socials{
        order: 3;
    }

    .copy {
        padding: 0;
        text-align: left;
        order: 1;
    

        &__text {
            display: block;
        }
    }
}


@media all and (min-width: 1200px){
    .footer {
        padding: 50px 320px 40px 320px; 
    }
}