.header {
    background-color: $bright-orange;
    position: fixed;
    top:0;
    z-index: 2;
    padding: 11.5px;
    display: inline-block;
    
    &__icon{
        width: 13.5px;    
    }
}


@media all and (min-width: 768px){
    .header{
        padding: 15px 13.2px;

        &__icon{
            width: 16px;

        }
    }
}

@media all and (min-width: 1200px) {
    .header {
        padding: 15.3px 14.4px;

        &__icon {
            width: 17px;

        }
    }
}
