.hero{
    color: $white;
    width: 100vw;
    height: 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-image: url("../../assets/images/cover_small.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    padding-bottom: 75px;
   


    &__title{
        font-family: $RobotoSlab;
        text-transform: uppercase;
        text-shadow: 0 2px 3px $black-20;
        font-size: 3rem;
        text-align: center;
        line-height: 1.67;
    }

    &__description{
        font-family: $Roboto;
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
        margin-bottom: 15px;
    }

    &__button{
        width: 36px;
        height: 36px;
        background-color: $white;
        border-radius: 50px;
        border: 2px solid $white;
        text-align: center;
        padding: 13px 0;
        position: relative;

        &-img {
          width: 18px;
        }

        &:hover {
            animation-duration: 1s;
            animation-name: rotateAndBorder;
            border-color: $bright-orange;
        }
    }    
}


@media all and (min-width: $breakpoint-tablet){
    .hero {
        height: 768px;
        background-position: left;
       
        background-repeat: no-repeat;
        padding-bottom: 45px;
    
        &__title {
            font-size: 7.5rem;
            line-height: 1.33;
        }
    
        &__description {
            font-size: 2.4rem;
            padding: 0 205px;
            }
    
        &__button {
            width: 45px;
            height: 45px;
            padding: 17px 0;
    
            &-img {
                width: 19px;
            }
        }
    }
}

@media all and (min-width: $breakpoint-desktop) {
    .hero {
        height: 800px;
        background-position: left -221px bottom 0px;
        background-size: 128%;

        &__title {
            font-size: 10rem;
            text-shadow: 0 2px 5px $black-50;
        }

        &__button {
            width: 46px;
            height: 46px;
            padding: 19px 0;

            &-img {
                width: 20px;
            }
        }
    }
}

    
    

