#grey{
    scroll-margin-top: 20px;
}

.titles-font {
    font-family: $RobotoSlab;
}

.font {
    font-family: $Roboto;
    font-weight: 400;
}

.main__white{
    padding: 34px 15px 40px 15px;

    &-button{
        width: 160px;
        height: 45px;
        background-color: white;
        border: 2px solid $bright-orange;
        border-radius: 25px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        transition: 0.5s;

        &-text{
            color: $bright-orange;
            font-family: $Roboto;
            font-weight: 500;
            font-size: 2rem;
            text-align: center;
            text-decoration: none;
        }

        &:hover &-text {
            color: $white;
        }
    }
}

.orange__bubble {
    @include bubbleEffect($bright-orange);
}

.main__white-button:hover .orange__bubble {
    transform: translateY(0) scale(2);
}

.white__bubble {
    @include bubbleEffect($white);
}

.main__grey-button:hover .white__bubble {
    transform: translateY(0) scale(2);
}

.bubble {
    &1 { --n: 1 }
    &2 { --n: 2 }
    &3 { --n: 3 }
    &4 { --n: 4 }
}

.title__orange{
    color: $bright-orange;
    font-size: 1.4rem;
    line-height: 2.14;
}

.white__article-title{
    font-size: 2.4rem;
    line-height: 1.25;
    padding-bottom: 11px;
}

.white__article-description {
    color: $greyish-brown;
    font-size: 1.8rem;
    line-height: 1.67;
    padding-bottom: 15px;
}

.main__grey{
    background-color: $white-grey;
    padding: 29px 50px 40px 50px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 375px 60px;
    align-items: center;
    justify-items: center;

    &-title{
        font-size: 2rem;
        line-height: 1.5;
        text-align: center;
    }

    &-button{
        width: 184px;
        height: 45px;
        background-color: $bright-orange;
        border: none;
        border-radius: 25px;
        position: relative;
        overflow: hidden;
        z-index: 1;
        
        &-text {
            color: $white;
            font-family: $Roboto;
            font-weight: 500;
            font-size: 2rem;
            text-align: center;
            text-decoration: none;
        }

        &:hover &-text{
            color: $bright-orange;
        }
    }
}

.grey__ul{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 125px 125px 125px;
    align-items: center;
    padding: 0 10px;


    &__title{
        font-size: 1.8rem;
        line-height: 1.67;
        text-align: center;
    }
    
    &__description{
        font-size: 1.8rem;
        line-height: 1.67;
        text-align: center;
    }
}


@media all and (min-width: $breakpoint-tablet){
     .main__white{
        padding: 40px 40px 61px 40px;
    }

    .title__orange{
        font-size: 1.6rem;
        line-height: 1.88;
    }

    .white__article-title{
        font-size: 3.2rem;
        line-height: 1.41;
    }

    .white__article-description {
        font-size: 2rem;
        line-height: 1.5;
        padding-bottom: 21px;
    }

    .main__grey{
        padding: 35px 38px 45px 38px;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 80px 150px 80px;

        &-title{
            font-size: 2.8rem;
            line-height: 1.61;
            grid-column: span 3;  
            grid-row: span 1;  
        }

        &-button{
            grid-column: span 3;
            grid-row: span 1;
        }
    }

    .grey__ul{
        grid-column: span 3;
        grid-row: span 1;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 150px;
        padding: 0 0;

        &__title{
            font-size: 2.4rem;
            line-height: 1.25;
            padding-bottom: 15px;
        }
        
        &__description{
            font-size: 2rem;
            line-height: 1.5;
        }
    }
}


@media all and (min-width: $breakpoint-desktop) {
   .main__white{
        padding: 60px 100px 70px 255px;
    }

    .white__article-description {
        padding-bottom: 25px;
    }

    .main__grey{
        padding: 45px 85px 60px 85px;

        &-title{
            font-size: 3.2rem;
            line-height: 1.41;
        }
    }

    .grey__ul__title{
        padding-bottom: 26px; 
    }
}


